<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.teiyuueki.intentactivity1">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@android:style/Theme.NoTitleBar">

        <!-- android:theme="@style/AppTheme"> -->
        <activity android:name=".MainActivity">
            <intent-filter>

                <!-- 最初に起動するアクティビティの指定 -->
                <action android:name="android.intent.action.MAIN" />
                <!-- Android端末のランチャーにアプリを表示するかどうかの設定 -->

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ShakeActivity"
            android:label="@string/title_activity_shake" />
        <activity
            android:name=".SwipeActivity"
            android:label="@string/title_activity_swipe" />
        <activity
            android:name=".SecoundActivity"
            android:label="@string/title_activity_secound" />
        <activity
            android:name=".MenuMessages"
            android:label="@string/title_activity_menu_messages" />
        <activity
            android:name=".MenuPersonal"
            android:label="@string/title_activity_menu_personal" />
        <activity
            android:name=".MenuProspects"
            android:label="@string/title_activity_menu_prospects"></activity>
    </application>

</manifest>
